<h2>Create a new Note</h2>
<form method="POST" action="/notes">

    <p>
        <label>Title: </label>
        <input type="text" name="title" title="Title" placeholder="Insert title here...">
    </p>

    <p>
        <label>Description: </label>
        <textarea name="content" rows="10" cols="15"></textarea>
    </p>

    <p>
        <label>Important: </label>
        <input type="number" min="1" max="5" name="relevance" value="1">
    </p>

    <input type="submit" value="Create new Note">

</form>